.ant-dropdown-link,
.ant-input-number,
.ant-picker {
  width: 100% !important;
  text-align: left !important;
  p {
    width: 97%;
    display: inline-block;
  }
}
.ant-form-item-label {
  label {
    color: #778ca2 !important;
  }
}
